html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  text-shadow: 0 0 1px #000;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

.text-xxl {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1;
  letter-spacing: -5px;
}

@media screen and (min-width: 768px) {
  .text-xxl {
    font-size: 17.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-xxl {
    font-size: 20rem;
  }
}

.text-xl {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .text-xl {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-xl {
    font-size: 5.6rem;
  }
}

.text-l {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .text-l {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-l {
    font-size: 2.4rem;
  }
}

.text-m {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .text-m {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-m {
    font-size: 2rem;
  }
}

.text-s {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .text-s {
    font-size: 1.8rem;
  }
}

.text-xs {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.86;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .text-xs {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-xs {
    font-size: 1.5rem;
  }
}

.timezone-abr {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .timezone-abr {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .timezone-abr {
    font-size: 4rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body.day {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/mobile/bg-image-daytime.jpg) no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/mobile/bg-image-daytime.jpg) no-repeat fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body.day {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/tablet/bg-image-daytime.jpg) no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/tablet/bg-image-daytime.jpg) no-repeat fixed;
    background-size: cover;
  }
  body.day .card:nth-of-type(2n) {
    border-left: 1px solid rgba(48, 48, 48, 0.25);
  }
}

@media screen and (min-width: 1440px) {
  body.day {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/desktop/bg-image-daytime.jpg) no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/desktop/bg-image-daytime.jpg) no-repeat fixed;
    background-size: cover;
  }
}

body.day .info {
  background: radial-gradient(circle at bottom, #fff, #cacaca);
}

body.night {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/mobile/bg-image-nighttime.jpg) no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/mobile/bg-image-nighttime.jpg) no-repeat fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body.night {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/tablet/bg-image-nighttime.jpg) no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/tablet/bg-image-nighttime.jpg) no-repeat fixed;
    background-size: cover;
  }
  body.night .card:nth-of-type(2n) {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
}

@media screen and (min-width: 1440px) {
  body.night {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/desktop/bg-image-nighttime.jpg) no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/desktop/bg-image-nighttime.jpg) no-repeat fixed;
    background-size: cover;
  }
}

body.night .info {
  background: radial-gradient(circle at top, rgba(0, 0, 0, 0.6), #000);
  color: #fff;
}

body.open .header {
  height: 60%;
}

@media screen and (min-width: 768px) {
  body.open .header {
    height: 65%;
  }
}

@media screen and (min-width: 1440px) {
  body.open .header {
    height: 45%;
  }
}

body.open .quote-container {
  display: none;
}

body.open .header-content {
  padding-top: 10rem;
}

@media screen and (min-width: 768px) {
  body.open .header-content {
    padding-top: 7rem;
  }
}

body.open .info {
  height: 40%;
}

@media screen and (min-width: 768px) {
  body.open .info {
    height: 35%;
  }
}

@media screen and (min-width: 1440px) {
  body.open .info {
    height: 55%;
  }
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 83%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 77%;
  }
}

p {
  margin: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid-col-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0 8rem;
  }
}

.btn {
  background: #fff;
  border-radius: 2.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}

.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn:hover .btn-arrow {
  opacity: 0.5;
}

.btn-arrow {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .btn-arrow {
    width: 40px;
    height: 40px;
  }
}

.header {
  color: #fff;
  padding: 3.1rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 8rem 0 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 5.5rem 0 10rem;
  }
}

.header .quote-container {
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .header .quote-container {
    width: 50%;
  }
}

.header .quote {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8rem;
}

.header .quote p {
  width: 92%;
}

.header .refresh {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .header .header-content {
    position: relative;
  }
}

.header .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .time-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../../images/icons/icon-sun.svg);
  margin-right: 1.6rem;
}

.header .currently {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .currently {
    display: inline-block;
  }
}

.header .time {
  margin: 1.6rem 0;
}

@media screen and (min-width: 768px) {
  .header .time {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header .time {
    margin: 1.6rem 0;
  }
}

.header .location {
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 768px) {
  .header .location {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  .header .location {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header .btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.info {
  padding: 4.8rem 0;
  text-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .info {
    padding: 10rem 0;
  }
}

.info .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .info .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .info .card:nth-of-type(2n) {
    padding-left: 9.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .info .card {
    padding-bottom: 4.2rem;
  }
}

.info .card p {
  display: inline-block;
  text-align: right;
  white-space: nowrap;
}

.info .timezone {
  width: auto;
}
/*# sourceMappingURL=styles.css.map */