*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body.day {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../images/mobile/bg-image-daytime.jpg) no-repeat fixed;
	background-size: cover;

	@include tablet {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../images/tablet/bg-image-daytime.jpg) no-repeat fixed;
		background-size: cover;

		.card:nth-of-type(2n) {
			border-left: 1px solid rgba($color: #303030, $alpha: 0.25);
		}
	}

	@include desktop {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../images/desktop/bg-image-daytime.jpg) no-repeat fixed;
		background-size: cover;
	}

	.info {
		background: radial-gradient(circle at bottom, $white, #cacaca);
	}
}

body.night {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../images/mobile/bg-image-nighttime.jpg) no-repeat fixed;
	background-size: cover;

	@include tablet {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../images/tablet/bg-image-nighttime.jpg) no-repeat fixed;
		background-size: cover;

		.card:nth-of-type(2n) {
			border-left: 1px solid rgba($color: $white, $alpha: 0.25);
		}
	}

	@include desktop {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../images/desktop/bg-image-nighttime.jpg) no-repeat fixed;
		background-size: cover;
	}

	.info {
		background: radial-gradient(circle at top, rgba(0, 0, 0, 0.6), $black);
		color: $white;
	}
}

body.open {
	.header {
		height: 60%;

		@include tablet {
			height: 65%;
		}
		@include desktop {
			height: 45%;
		}
	}

	.quote-container {
		display: none;
	}

	.header-content {
		padding-top: 10rem;

		@include tablet {
			padding-top: 7rem;
		}
	}

	.info {
		height: 40%;

		@include tablet {
			height: 35%;
		}
		@include desktop {
			height: 55%;
		}
	}
}

.container {
	width: 85%;
	margin: 0 auto;

	@include tablet {
		width: 83%;
	}

	@include desktop {
		width: 77%;
	}
}

p {
	margin: 0;
}

.grid {
	display: grid;
}

.grid-col-2 {
	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		gap: 0 8rem;
	}
}
